@model InstaMedData.Models.Morf

@{
    ViewData["Title"] = "MorfDetails";
}
<br /><br />
<h2>Wyniki badania morfologi</h2>
<br />


<p style="font-size: 18px; display: inline">@Html.DisplayNameFor(model => model.RBCResult)</p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.RBCResult)</p>  &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">4.5 - 6.5</p>
<br />

<p style="font-size: 18px; display: inline">@Html.DisplayNameFor(model => model.WBCResult)</p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.WBCResult)</p>  &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">4.1 - 10.9</p>
<br />

<p style="font-size: 18px; display: inline">@Html.DisplayNameFor(model => model.HBResult)</p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.HBResult)</p>  &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">7.4 - 10.5</p>
<br />
<p style="font-size: 18px; display: inline">@Html.DisplayNameFor(model => model.HTResult)</p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.HTResult)%</p>  &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">40 - 51 %</p>
<br />
<p style="font-size: 18px; display: inline">@Html.DisplayNameFor(model => model.MCVResult)</p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.MCVResult)</p>  &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">80 - 97</p>
<br />
<p style="font-size: 18px; display: inline">@Html.DisplayNameFor(model => model.MCHResult)</p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.MCHResult)</p>  &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">26 - 32</p>
<br />
<p style="font-size: 18px; display: inline">@Html.DisplayNameFor(model => model.MCHCResult)</p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.MCHCResult)</p>  &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">31 - 36</p>
<br />
<p style="font-size: 18px; display: inline">@Html.DisplayNameFor(model => model.Plt)</p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.Plt)</p> &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">140 - 440</p>

<br />
<p style="font-size: 18px; display: inline">  Pracownik zatwierdzający badanie: </p>

<p style="font-weight: bold; display: inline; font-size: 18px"> @Html.DisplayFor(model => model.DocName) </p>

<footer>
    <br /> <br />
    <b>Uwaga!</b> Zakresy referencyjne nie są jednoznaczne i mogą się różnic w zależności od prezycji urządzenia pomiarowego. Jeżli wynik wygląda <br /> niepokojąco zalecamy bezwłoczny kontakt z lekarzem, jeżeli natomiast wynik wydaje
    się być zupełnie oderwany od rzeczywistośći <br /> zachęcamy do kontaktu z kliniką w celu potwierdzenia nieprawidłowisci.

    <br /> <br />
    <b>Kontakt: </b><br />
    tel: 111-222-333 <br />
    tel: 222-333-444 <br />
    e-mail: instamed@test.pl
</footer>


